sudo: required

services:
  - docker

notifications:
  email:
    on_success: never
    on_failure: change

before_install:
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - echo $TAG
  - export NGINX_VERSION=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "1.12.2"; else echo $TRAVIS_BRANCH ; fi`
  - echo $NGINX_VERSION

script:
  - export REPO=$TRAVIS_REPO_SLUG
  - docker build -t $REPO:$TAG --build-arg NGINX_VERSION=$NGINX_VERSION  .
  - docker images
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker push $REPO

